#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QDRWB";
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  D  |  R  |  W  |  B  |   |  J  |  F   |  U  |  P  |  ;  | ESC   |
// | BSPC |  A  |  S  |  H  |  T  |  G  |   |  Y  |  N   |  E  |  O  |  I  |  '    |
// | SHFT |  Z  |  X  |  M  |  C  |  V  |   |  K  |  L   |  ,  |  .  |  /  | CTRL  |
//                    | LWR | GUI | SPC |   | ENT | ALT  |  ~  |
                        bindings = <
   &mt LS(TAB) TAB    &mt N1 Q   &mt N2 D   &mt N3 R   &mt N4 W   &mt N5 B                 &mt N6 J    &mt N7 F     &mt N8 U     &mt N9 P    &mt N0 SEMI  &kp ESC
   &mt LS(BSPC) BSPC  &mt LBKT A &mt RBKT S &mt LPAR H &mt RPAR T &mt PIPE G               &mt BSLH Y  &mt EQUAL N  &mt MINUS E  &mt LBRC O  &mt RBRC I   &mt GRAVE SQT
   &kp LSHFT          &kp Z      &kp X      &kp M      &kp C      &mt LC(LA(LG(LS(N)))) V  &kp K       &kp L        &kp COMMA    &kp DOT     &kp FSLH     &kp RCTRL
                  &mo 1 &kp LGUI &kp SPACE                                                 &kp RET &kp RALT &kp TILDE 
                        >;
                };
                lower_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | BSPC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     | GUI | SPC |   | ENT | ALT |     |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &trans   &trans    &trans  &trans     &trans &trans
   &kp BSPC   &kp N1       &kp N2       &kp N3       &kp N4       &kp N5           &kp N6   &kp N7    &kp N8  &kp N9     &kp N0 &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans           &kp LEFT &kp DOWN  &kp UP  &kp RIGHT  &trans &trans
                                        &trans       &kp LGUI     &kp SPACE        &kp RET  &kp RALT  &trans 
                        >;
                };
        };
};