#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QDRWB";
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  D  |  R  |  W  |  B  |   |  J  |  F   |  U  |  P  |  ;  | ESC   |
// | BSPC |  A  |  S  |  H  |  T  |  G  |   |  Y  |  N   |  E  |  O  |  I  |  '    |
// | SHFT |  Z  |  X  |  M  |  C  |  V  |   |  K  |  L   |  ,  |  .  |  /  | CTRL  |
//                    | LWR | GUI | SPC |   | ENT | ALT  |  ~  |
                        bindings = <
   &lt LS(TAB) TAB  &lt LBKT Q   &lt RBKT D  &lt LPAR R  &lt RPAR W  &lt PIPE B               &lt BSLH J  &lt EQUAL F  &lt MINUS U   &lt PLUS P  &lt COLON SEMI  &kp ESC
   &lt DEL BSPC     &lt N1 A     &lt N2 S    &lt N3 H    &lt N4 T    &lt N5 G                 &lt N6 Y    &lt N7 N     &lt N8 E      &lt N9 O    &lt N0 I        &lt GRAVE SQT
   &kp LSHFT        &lt LBKT Z   &lt RBKT X  &lt LPAR M  &lt RPAR C  &lt LC(LA(LG(LS(N)))) V  &lt LBRC K  &lt RBRC L   &lt LT COMMA  &lt GT DOT  &lt QMARK FSLH  &kp RCTRL
                    &mo 1        &kp LGUI    &lt 1 SPACE                                                  &kp RET      &kp RALT      &kp TILDE 
                        >;
                };
                lower_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | BSPC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     | GUI | SPC |   | ENT | ALT |     |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &trans   &trans    &trans    &trans  &trans     &trans
   &kp BSPC   &trans       &trans       &trans       &trans       &trans           &trans   &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans           &trans   &trans    &trans    &trans  &trans     &trans
                                        &trans       &kp LGUI     &trans           &trans   &trans    &trans 
                        >;
                };
        };
};